{% extends 'base1.html' %}
{% block studentzone %}
{% if not request.session.user %}
<script>
    alert('You have to login first..');
    location.href="/user/signin/"
</script>
{% endif %}
<style>
    .dash{
        min-height:180px;
        background:white;
        text-align:center;
        font-size:30px;
        border-radius:5px;
        box-shadow:0px 0px 30px #979797;

        }
    a{
        color:grey;
        text-decoration:none;
    }
</style>
<div class="text-center py-2 fs-2"><i class="fa-solid fa-list"></i> Dashboard</div>
<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row ">
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                <a href="/student/lectures/">
                  <p class="dash py-5 fs-4">
                      <i class="fa-solid fa-video"></i><br/>
                      Lectures
                  </p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                <a href="/student/notes/">
                  <p class="dash py-5 fs-4">
                      <i class="fa-solid fa-book"></i><br/>
                      E-Notes
                  </p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                <a href="/student/tasks/">
                  <p class="dash py-5 fs-4">
                      <i class="fa-solid fa-list-check"></i><br/>
                      Task
                  </p>
                 </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                <a href="/student/batches/">
                  <p class="dash py-5 fs-4">
                      <i class="fa-solid fa-video"></i><br/>
                      Upcoming Batches
                  </p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                <a href="/student/liveclasses/">
                  <p class="dash py-5 fs-4">
                      <i class="fa-solid fa-video"></i><br/>
                      Live Courses/Time
                  </p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                <a href="/student/uprofile/">
                  <p class="dash py-5 fs-4">
                      <i class="fa-solid fa-user"></i><br/>
                      Update Profile
                  </p>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                <a href="/student/softwarekit/">
                  <p class="dash py-5 fs-4">
                     <i class="fa-solid fa-download"></i><br/>
                      Software Kit
                  </p>
                 </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-2">
                 <a href="/student/uprofile/" >
                   <p class="dash py-5 fs-4">
                      <i class="fa-solid fa-key"></i><br/>
                      Change Password
                   </p>
                   </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}