{% extends 'base.html' %}
{% load static %}

{% block childpage %}
<div class="row">
<div class="col-sm-9 p-2 ">
        <!-- start slider-->
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'images/educ.jpg' %}" style="max-height:350px;" class="d-block w-100 rounded rounded-3" alt="..."/>
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
    {% for i in sd %}
    <div class="carousel-item ">
      <img src="/{{ i.slider_picture}}" style="max-height:350px;" class="d-block w-100 rounded rounded-3"  alt="..."/>
      <div class="carousel-caption d-none d-md-block">
        <h5>{{i.headlines}}</h5>
        <p>{{i.slider_dec}}</p>
      </div>
    </div>
        {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
        <!-- end slider-->

    </div>
    <div class="col-sm-3">
        <div class="fs-4 text-center txt-mycolor1"> New <b class="txt-mycolor2">Batches</b></div>
        <marquee direction="up" behavior="alternate" height: 350px;  onmouseover="stop()" onmouseleave="start()" behavior="alternate">
     {% for i in nbdata %}
            <!-- start card -->
            <a href="/user/signup/" >
                <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/{{i.batch_pic}}" class="img-fluid rounded-start" alt="..."/>
    </div>
    <div class="col-md-8">
      <div class="card-body btn">
        <p class="card-text" style="font-size:9px;" >
            <b style="font-size:13px;">{{i.name}}</b><br>
            <i class="fa-solid fa-calendar-days"></i>
            {{i.starting_date}}
		</p>
      </div>
    </div>
  </div>
</div>
            </a>
            <!-- end card -->
      {% endfor %}
        </marquee>
    </div>
</div>



{% endblock %}