{% extends 'base.html'%}
{% load static %}
{% block childpage %}
<style>
    .input-group
      {
       height:40px;
       margin-bottom:15px;
       }
    .input-group-text
    {
     background:#d4d4d4;
    }
    .btn
    {
    margin-bottom:3%
    }
</style>
<div class="text-center fs-2 txt-mycolor1 pt-4">Student <b class="txt-mycolor2">Login</b></div>
<div class="row">
<div class="col-sm-6 mx-auto">
    <form method="post">
        {% csrf_token %}
        <div class="row">
             <div>
                 Email Id<b class="text-danger">*</b>
                 <div class="input-group">
                    <i class="input-group-text py-0">
                        <i class="fa-solid fa-envelope"></i>
                    </i>
                    <input type="email" name="email" required placeholder="Enter Email ID*" class="form-control"/>
                    </div>
                        </div>

             <div>
                    Password<b class="text-danger">*</b>
                    <div class="input-group">
                    <i class="input-group-text py-0">
                        <i class="fa-solid fa-key"></i>
                    </i>
                    <input type="password" name="passwd" required placeholder="Enter Password*" class="form-control"/>
                    </div>
                        </div>
            </div>
        <input type="submit" value="Login" class="btn bg-mycolor2 text-light"/>

    </form>
</div>
</div>

{% endblock %}